<html style="margin: 0;padding: 0;" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">    
    <meta name="viewport" content="width=device-width">    
    <style type="text/css">
body {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  table-layout: fixed;
}
* {
  line-height: inherit;
}
.wrapper .footer__share-button a:hover,
.wrapper .footer__share-button a:focus {
  color: #ffffff !important;
}
.btn a:hover,
.btn a:focus,
.footer__share-button a:hover,
.footer__share-button a:focus,
.email-footer__links a:hover,
.email-footer__links a:focus {
  opacity: 0.8;
}
</style>
</head>  
  <body style="margin: 0;padding: 0;-webkit-text-size-adjust: 100%;">
    <table class="wrapper" style="border-collapse: collapse;table-layout: fixed;min-width: 320px;width: 100%;background-color: #fafafa;" cellpadding="0" cellspacing="0" role="presentation">
    	<tbody>
    			<tr>
    				<td>
      				<div role="banner">            
						<div style="font-size: 26px;line-height: 32px;Margin-top: 6px;Margin-bottom: 20px;color: #c3ced9;font-family: Roboto,Tahoma,sans-serif;Margin-left: 20px;Margin-right: 20px;" align="center">
						    <div align="center" id="emb-email-header">
						        <img style="display: block;height: auto;width: 100%;border: 0;max-width: 171px;" src="https://i1.createsend1.com/ei/j/00/3C8/B30/043554/csfinal/avatar.png" alt="" width="171">
						    </div>
						</div>
						<div style="Margin-left: 20px;Margin-right: 20px;Margin-top: 24px;">
						    <div>
						        <h1 style="Margin-top: 0;Margin-bottom: 0;font-style: normal;font-weight: normal;color: #b8bdc9;font-size: 28px;line-height: 36px;text-align: center;">Bienvenido</h1>
						        <p style="Margin-top: 0;Margin-bottom: 0;font-style: normal;font-weight: normal;color: #666b77;font-size: 18px;line-height: 36px;">Activa tu cuenta para poder hacer uso de las funcionalidad que <strong>Billers</strong> tiene para ti.</p>
						    </div>
						</div>					
						<div style="Margin-left: 20px;Margin-right: 20px;">
						    <div style="font-size: 12px;font-style: normal;font-weight: normal;line-height: 19px;Margin-bottom: 20px;" align="center">
						        <img style="border: 0;display: block;height: auto;width: 100%;max-width: 652px;" alt="" width="560" src="https://i1.createsend1.com/ei/j/00/3C8/B30/043554/csfinal/Group.png">
						    </div>
						</div>					
						<div style="Margin-top: 0;Margin-bottom: 0;font-style: normal;font-weight: normal;color: #666b77;font-size: 18px;line-height: 36px;">
						    <div>
						        <p style="Margin-top: 0;Margin-bottom: 0;font-style: normal;font-weight: normal;color: #666b77;font-size: 18px;line-height: 36px;">Next time you log in, you'll see a brand new experience in the Analytics tab where we've completely redesigned how data is visualized inside our app. 
						        										The dashboards and charts are more modern as well as responsive on any mobile device.&nbsp;</p>
						        	<blockquote style="Margin-top: 20px;Margin-bottom: 0;Margin-left: 0;Margin-right: 0;padding-left: 14px;border-left: 4px solid #c7c7c7;">
						        		<p style="Margin-top: 20px;Margin-bottom: 20px;">“The new Analytics 2.0 enhancements are a total game-changer for our business analysts and have supercharged their productivity during the beta program.ˮ - Jeremy Hayes, CTO of HealthTech</p>
						        	</blockquote>
						        	<p style="Margin-top: 20px;Margin-bottom: 20px;">This product release was heavily influenced by customer feedback so we're really excited to get this in the hands of our users. As always there's plenty of 
						technical documentation in our <a style="text-decoration: underline;transition: opacity 0.1s ease-in;color: #6b7489;" href="${link}">Support Center</a>.&nbsp;</p>
						    </div>
						</div>					
						<div style="Margin-top: 0;Margin-bottom: 0;font-style: normal;font-weight: normal;color: #666b77;font-size: 18px;line-height: 36px;">
						    <div class="btn btn--flat btn--large" style="text-align:center;">
						        <a style="border-radius: 4px;display: inline-block;font-size: 14px;font-weight: bold;line-height: 24px;padding: 12px 24px;text-align: center;text-decoration: none !important;transition: opacity 0.1s ease-in;color: #ffffff !important;background-color: #6b7489;font-family: Lato, Tahoma, sans-serif;" href="${action}">Activar cuenta</a>
						        <p style="line-height:0;margin:0;">&nbsp;</p>						            
						    </div>
						</div>
				    </div>             
    				</td>
    			</tr>
    	</tbody>
    </table>
</body>
</html>
