<div *ngIf="frontMessage.showAlert" class="alert alert-danger animated fadeIn">
    <p> {{ frontMessage.message }}</p>
</div>

<div class="login-dark animated fadeIn">
  <div class="form">
    <h2 class="sr-only"></h2>
    <div class="illustration">
      <i class="fas fa-user-lock fx5"></i>
    </div>
    <div class="form-group">
      <input class="form-control" type="email" name="email" placeholder="Email" #email/>
    </div>
    <div class="form-group">
      <input class="form-control" type="password" name="password" placeholder="Password" #password/>
    </div>
    <div class="form-group">
      <button (click)="login(email.value, password.value)" class="btn btn-primary btn-block" type="submit">Login</button>
    </div>
    <div class="row">
      <div class="col">
        <a class="nav-link" [routerLink]="'/register'">Sign up</a>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <a class="nav-link" [routerLink]="'/recover'">Forgot your email or password?</a>
      </div>
    </div>
  </div>
</div>

