<div id="sidebar-menu" class="sidebar">
  <!-- Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red" -->
  <div class="sidebar-wrapper">
    <div class="logo">
      <a href="javascript:void(0)" class="simple-text logo-mini">

      </a>
      <a href="javascript:void(0)" class="simple-text logo-normal">
        Bruce Wayne
      </a>
    </div>
    <ul class="nav">
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="/home/{{ billerID }}">
          <i class="tim-icons icon-chart-pie-36"></i>
          <p>Dashboard</p>
        </a>
      </li>
      <!-- <li class="nav-item" routerLinkActive="active">
          <a routerLink="/home/id">
          <i class="tim-icons icon-atom"></i>
          <p>Icons</p>
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
          <a routerLink="/home/id">
          <i class="tim-icons icon-pin"></i>
          <p>Maps</p>
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
          <a routerLink="/home/id">
          <i class="tim-icons icon-bell-55"></i>
          <p>Notifications</p>
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
          <a routerLink="/home/id">
          <i class="tim-icons icon-single-02"></i>
          <p>User Profile</p>
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
          <a routerLink="/home/id">
          <i class="tim-icons icon-puzzle-10"></i>
          <p>Table List</p>
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
          <a routerLink="/home/id">
          <i class="tim-icons icon-align-center"></i>
          <p>Typography</p>
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
          <a routerLink="/home/id">
          <i class="tim-icons icon-controller"></i>
          <p>Chat</p>
        </a>
      </li> -->
    </ul>
  </div>
</div>
