.login-dark {
  height: 800px;
  background: #f5f6fa url(/assets/img/wallpaper.jpg);
  background-size: cover;
  /*position: relative;*/
}

.login-dark
.illustration {
  text-align: center;
  padding: 15px 0 20px;
  font-size: 100px;
  color: #2980ef;
}

.login-dark .form {
  max-width: 520px;
  width: 90%;
  background-color: #f5f6fa;
  padding: 40px;
  border-radius: 4px;
  transform: translate(-50%,-50%);
  position: absolute;
  top: 50%;
  left: 50%;
  color: rgb(24,25,63);
  box-shadow: 3px 3px 4px rgb(0, 0, 0, 0.2);
}

body {
  margin: 0;
  font-family: -apple-system,-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

html{
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

.login-dark .form .form-control {
  background: none;
  border: none;
  border-bottom: 1px solid #434a52;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  color: inherit;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 .2rem rgb(0, 123, 255, .25);
}

.form-control {
  transition: none;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

button {
  background-color: #214a80;
  border-color: #214a80;;
}

button:hover {
  color: rgb(24,25,63);
  background-color: #365885;
  border-color: #365885;
}

button, input {
  overflow: visible;
}

button, input, optgroup, select, textarea{
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
