<div class="login-dark animated fadeIn">
  <div class="form">
    <h2 class="sr-only"></h2>
    <div class="illustration">
      <img src="assets/img/leaf-logo.png" alt="Secure" width="120" height="120">
    </div>
    <div class="form-group">
      <input class="form-control" type="email" name="email" placeholder="Email" value="{{ email }}" disabled="disabled"/>
    </div>
    <div class="form-group">
      <input class="form-control" type="password" name="password" placeholder="Password" #password/>
    </div>
    <div class="form-group">
      <input class="form-control" type="password" name="repassword" placeholder="Password confirmation" #repassword/>
    </div>
    <div class="form-group">
      <button (click)="activate(password.value, repassword.value);" class="btn btn-primary btn-block" type="submit">Activate</button>
    </div>
    <div class="row">
      <div class="col">
        <a class="nav-link" [routerLink]="'/login'">Login</a>
      </div>
    </div>
  </div>
</div>

<div *ngIf="showError" class="alert alert-danger animated fadeIn">
  <h3>Error occurred</h3>
  <p> Service is unavailable: {{ errorMessage }}</p>
</div>
