<div class="login-dark animated fadeIn" *ngIf="!frontMessage.showAlert" >
  <div class="form">
    <h2 class="sr-only"></h2>
    <div class="illustration">
      <img src="assets/img/leaf-logo.png" alt="Secure" width="120" height="120">
    </div>
    <div class="form-group">
      <input class="form-control" type="input" name="nickname" placeholder="Nickname" #nickname/>
    </div>
    <div class="form-group">
      <input class="form-control" type="email" name="email" placeholder="Email" #email/>
    </div>
    <div class="form-group">
      <button (click)="signup(nickname.value, email.value);" class="btn btn-primary btn-block" type="submit">Sign up</button>
    </div>
    <div class="row">
      <div class="col">
        <a class="nav-link" [routerLink]="'/login'">Login</a>
      </div>
    </div>
  </div>
</div>

<div class="login-dark animated fadeIn" *ngIf="frontMessage.showAlert">
  <div class="form">
    <h2 class="sr-only"></h2>
    <div class="illustration">
      <i class="fas fa-paper-plane"></i>
    </div>
    <div class="form-group" *ngIf="!error" >
      <p>{{ message1 }} <strong>{{ email }}</strong> {{ message2 }}</p>
      <p>{{ message3 }}</p>
    </div>
    <div class="form-group" *ngIf="frontMessage.showAlert" >
      <p>{{ frontMessage.message }}</p>
    </div>
    <div class="form-group">
      <a class="btn btn-primary btn-block" [routerLink]="'/login'">Login</a>
    </div>
  </div>
</div>
