<?xml version="1.0" encoding="utf-8"?>
<Configuration>   
<Appenders>  
  <Console name="console-log" target="SYSTEM_OUT">
    <PatternLayout>
    	<pattern>%d{DATE}-%-5level %c{1} - %m%n</pattern>
    </PatternLayout>
  </Console>
  <RollingFile name="trans" fileName="logs/packages-microservice/transaction.log"
        filePattern="logs/packages-microservice/backup/trans-%d{yyyy-MM-dd}.log">
  	<PatternLayout>
    	<pattern>%m%n</pattern>
    </PatternLayout>
    <Policies>
    	<TimeBasedTriggeringPolicy interval="1" modulate="true" />
    </Policies>
  </RollingFile>      
  <RollingFile name="trace" fileName="logs/packages-microservice/trace.log"
  		filePattern="logs/packages-microservice/backup/trace-%d{yyyy-MM-dd}.log">
  	<PatternLayout>
    	<pattern>%d{DATE}-%-5level %c{1} - %m%n</pattern>
    </PatternLayout>
    <Policies>
    	<TimeBasedTriggeringPolicy interval="1" modulate="true" />
    </Policies>
  </RollingFile>
  <RollingFile name="error" fileName="logs/packages-microservice/error.log"
        filePattern="logs/packages-microservice/backup/error-%d{yyyy-MM-dd}.log">
  	<PatternLayout>
        <pattern>%d{DATE}-%-5level %x %c{1} - %m%n</pattern>
    </PatternLayout>
    <Policies>
    	<TimeBasedTriggeringPolicy interval="1" modulate="true" />
    </Policies>
  </RollingFile>
</Appenders>

<Loggers>

	<AsyncLogger name="mx.budgie.billers" level="TRACE" additivity="false">
    	<appender-ref ref="trace" />
        <appender-ref ref="console-log"/>
        <appender-ref ref="error" level="ERROR" />            
    </AsyncLogger>

    <AsyncLogger name="transactional-log" level="INFO" additivity="false">
    	<appender-ref ref="trans"/>
    </AsyncLogger>

    <AsyncRoot level="INFO" additivity="false">
    	<appender-ref ref="trace"/>
        <appender-ref ref="console-log"/>
    </AsyncRoot>

    </Loggers>
</Configuration>
